<article>
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Posted by: {{user.username}} at {{created_at}}</p>
</article>

{{!-- option to leave a comment --}}
<form>
    <h3>Leave a comment:</h3>
    <textarea></textarea>
    <button type="submit">Submit</button>
</form>

<script src="/javascript/comment.js"></script>